- if @user.avatar
  .profile-imate
    = image_tag @user.avatar
%h1= @user.name
%p= @user.email

- if @user.local_offers.any?
  Offered locally:
  = raw @user.local_offers.map { |t| link_to t, offer_tag_path(t) }.join(', ')

- if @user.global_offers.any?
  Offered anywhere:
  = raw @user.global_offers.map { |t| link_to t, offer_tag_path(t) }.join(', ')

