- if @user.avatar
  .profile-imate
    = image_tag @user.avatar
%h1= @user.name
%p= @user.email

- if @user.local_offers.any?
  Offered locally:
  = raw @user.local_offers.map { |t| link_to t, offer_tag_path(t) }.join(', ')

- if @user.global_offers.any?
  Offered anywhere:
  = raw @user.global_offers.map { |t| link_to t, offer_tag_path(t) }.join(', ')

- if @created_projects.present?
  #created-projects.project-list
    %h3 Created Projects
    %ul
      - @created_projects.each do |p|
        %li
          = link_to p.title, p

- if @contributed_projects.present?
  #contributed-projects.project-list
    %h3 Contributed Projects
    %ul
      - @contributed_projects.each do |p|
        %li
          = link_to p.title, p
