.row
  .col-sm-6
    %h1
      Contributions to
      = @project.title
  .col-sm-6
    %ul.nav.nav-pills.pull-right
      %li{class: ("active" if params[:scope] == nil)}
        = link_to 'Requested', project_contributions_path
      %li{class: ("active" if params[:scope] == "proposed")}
        = link_to 'Proposed', project_contributions_path(scope: "proposed")
      %li{class: ("active" if params[:scope] == "claimed")}
        = link_to 'Claimed', project_contributions_path(scope: "claimed")
      %li{class: ("active" if params[:scope] == "accepted")}
        = link_to 'Acceptd', project_contributions_path(scope: "accepted")
.row
  %table.table
    %thead
      %tr
        %th Description
        %th State
        %th Posted By
        %th Date Updated
        %th Actions
    %tbody
      - @contributions.each do |contribution|
        %tr
          %td= contribution.note
          %td= contribution.state
          %td= contribution.user.try(:name)
          %td= contribution.updated_at
          %td
            = link_to "Claim", claim_contribution_path(contribution)
            -# = link_to "Delete", admin_event_path(event), method: :delete, confirm: "Are you sure?"
